<html>
  <div style="background-color: rgba(206, 82, 82, 0.527); margin-bottom: 5px; border-radius: 10px; border: 2px solid black">
    <h1 style="margin-top: 10px; margin-left: 30px; font-size: 40px;">Exibir Professor</h1>
  </div>
  <div style="margin: 50px; font-size: 20px; padding: 40px; border: 1px solid black; width: 90%; border-radius: 10px;">
    <div style="margin: 5px;">
      <h2>Nome do Professor</h2>
      <h3><%- value %></h3>
    </div>
    <div style="margin: 5px;">
      <h2>Matricula</h2>
      <h3><%- value %></h3>
    </div>
    <div style="margin: 5px;">
      <h2>Data de Nascimento</h2>
      <h3><%- value %></h3>
    </div>
  </div>
</html>
