<html>
    <table style="margin: 50px; font-size: 20px; padding: 40px; border: 1px solid black; width: 90%; border-radius: 10px;">
        <tr>
        <th><%- value %></th>
        <th><%- value %></th>
        <th><a href="../home/exibir"><button  style="padding: 15px 50px; border-radius: 8px; border: 3px solid rgb(17, 0, 255); font-weight: bold; font-size: 20px;">Exibir</button></a></th>
        <th><a href="../home/alterar"><button  style="padding: 15px 50px; border-radius: 8px; border: 3px solid rgb(131, 122, 0); font-weight: bold; font-size: 20px;">Alterar</button></a></th>
        <th><a href="../home/excluir"><button  style="padding: 15px 50px; border-radius: 8px; border: 3px solid rgb(255, 0, 0); font-weight: bold; font-size: 20px;">Excluir</button></a></th>
        </tr>
    </table>
</html>