<html>
  <div style="background-color: rgba(206, 82, 82, 0.527); margin-bottom: 5px; border-radius: 10px; border: 2px solid black; padding: 20px; font-family: Arial">
    <h1 style="margin-top: 10px; margin-left: 30px; font-size: 60px;">Sucesso!</h1>
    <p style="font-size: 40px;">Professor inserido com sucesso!</p>
  </div>
</html>
