<html>
  <div style="font-size: 150%;">
    <form action="./cadastrar" method="POST">
      <label for="NomeProfessor">Nome do Professor:</label>
      <br />
      <input type="text" id="NomeProfessor" name="NomeProfessor" required />
      <br />
      <label for="MatriculaProfessor">Matricula:</label>
      <br />
      <input type="text" id="MatriculaProfessor" name="MatriculaProfessor" required />
      <br />
      <label for="DataNasc">Data de Nascimento:</label>
      <br />
      <input type="date" name="DataNasc" id="DataNasc" style="border: 5px solid black; ">
      <br />
      <input type="submit" value="Salvar" />
    </form>
  </div>
</html>
