<html>
  <div style="width: 90%; top: 30%; position: absolute; text-align: center;">
    <form action="./exibir" method="POST">
      <label for="matricula">Matricula:</label>
      <br />
      <input type="text" id="Matricula" name="Matricula" required style="width: 50%; padding: 10px; border: 2px solid black; margin-bottom: 20px;"/>
      <br />
      <input type="submit" value="Buscar Professor" style="padding: 15px 50px; border-radius: 8px; background-color: rgba(206, 82, 82, 0.527); font-weight: bold; font-size: 20px;"/>
    </form>
  </div>
</html>
