<html>
  <div style="background-color: rgba(206, 82, 82, 0.527); margin-bottom: 5px; border-radius: 10px;">
    <h1 style="margin-top: 10px; margin-left: 30px; font-size: 40px;">Home</h1>
  </div>

  <div style="margin-left: 50px; padding: 20px; width: 80%; border-radius: 10px;">
    <br />
    <a href="./cadastrarProf"><button style="padding: 15px 50px; font-size: 16px; border-radius: 8px; background-color: #aaf5b7;"> Adicionar Professor </button></a>
    <br />

    <table style="margin: 50px; font-size: 20px; padding: 40px; border: 1px solid black; width: 90%; border-radius: 10px;">
      <tr>
        <th>001</th>
        <th>Ana Paula Santos</th>
        <th><a href="./exibirProf"><button  style="padding: 15px 50px; border-radius: 8px; background-color: rgb(117, 169, 228);">Exibir</button></a></th>
        <th><a href="./alterarProf"><button  style="padding: 15px 50px; border-radius: 8px; background-color: rgba(198, 207, 69, 0.685);">Alterar</button></a></th>
        <th><a href="./exclirProf"><button  style="padding: 15px 50px; border-radius: 8px; background-color: rgba(206, 82, 82, 0.527);">Excluir</button></a></th>
      </tr>
    </table>
  </div>
</html>
