<html>
  <h1>Home</h1>
  
  <br />
  <a href="./cadastrarProf"><button style="border-bottom: 5px solid red;"> Adicionar Professor </button></a>
  <br />

  <a href="./exibirProf">Exibir</a>
  <br />
  
</html>
